body p{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 32px;
}
a:hover{
    text-decoration: underline;
}

nav a {
    color:black;
    text-decoration: none;
}

nav img {
    height: 20px;
}

main{
    margin: 50%;
    margin: 110.4px auto;
    text-align: center;
}

main img{
    height: 150px;
   
}

input{
    width: 70%;
    padding: 16px;
    border-radius: 30px;
    border: 1px solid gray;
    
}

div.button_cont{
    margin-top: 16px;
    padding: 1px;
}

div.button_cont button{
    padding: 16px 32px;
    border: none;
}

footer{
    background-color: rgb(228, 222, 222);
}

div.top_footer{
    padding: 16px;
}

div.bttm_footer{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}

div.left a{
    margin-right: 16px;
}

div.right a{
    margin-right: 16px;
}

